<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>The Drunkards</title>

    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="span5">
              <img src="../images/nus.jpeg" class="img-responsive" alt="Responsive image" width="30%" height=auto>
          </div> 
          <a class="navbar-brand" href="/"> <font size="10" color="grey">The Drunkards</font> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            {% if user_nickname %}
              <div style="position:relative;left:400px"><font color="white"> {{ user_nickname }} </font><a class="btn btn-primary btn-lg" role="button" href="{{ logout }}">logout</a>
                <li><a href="/stall1_page"><form action="/stall1" method="get">{{ stall_name }}</form></a></li>
                </div>  
            {% else %}
             <div><a class="btn btn-primary btn-lg" href="thedrunkards" role="button" style="position:relative;left:400px;top:8px">Login for stallholders</a>
             </div>
           {% endif %}
    </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p align="right">
        <form action="/stall1_page" method="post"> <p align="right"> Stall name:
          <input type="text" name="name" value="{{ stall_name }}">
          <input type="submit" value="edit"></p>
        </form></p>
        <br>
        <p align="left"> Edit Header Here: </p>
        <p align="left">This is a web application for NUS Orbital 2016 Project Gemini.</p>
        <p align="left"> Edit Menu Here: </p>
        <p align="left">
          <form action="/stall1_page" method="post">
          <fieldset>
             <p align="right">Description: <input type="text" name="description"></p>
            <br>
             <p align="right">Price: <input type="text" name="price"></p>
            <br>
             <p align="right">Preparation Time: <input type="text" name="time"></p>
            <br>
             <p align="right"><input type="submit" name="menu_update" value="add"></p>
          </fieldset>
          </form>

        <p align="right"> Delete Menu:
          <form action="/stall1_page" method="post">
          {% for items in food_info %}
           <p align="right">
           {{ items.descript }}: {{ items.price }}
           <input type="radio" name="items" value="{{ items.descript }}">
           </p>
           <p align="right"><input type="submit" name="menu_delete" value="delete"></p>
          {% endfor %}
          </form>
        </p>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 align="center">Items in queue:</h2>
          <p><form action="/stall1_page" method="post">
           <p align="right"><select name=item_in_queue>
          {% for items in food_info %}
           <option value="{{ items.descript }}">{{ items.descript }}
          {% endfor %}      
           </option></p>
           </select>

           <p align="right"><input type="submit" name="item_add" value="add"></p>
           <p align="right"><input type="submit" name="queue_delete" value="delete">
          </form>
        </div>
        <div class="col-md-4">
          <h2 align="center">Estimated waiting time (in minutes):</h2>
          <p><form action="/stall1_page" method="get">
           <p align="right"><input type="text" name="waiting_time" value="{{ waiting_time }}"></p>
          </form>
          </p>
       </div>
        <div class="col-md-4">
          <h2 align="center">Special offers:</h2>
          <p><form action="/stall1_page" method="post">
           <p align="right"><input type="text" name="offer" value="{{ offer }}"></p>
           <p align="right"><input type="submit" value="edit"></p>
          </form>
          </p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; The Drunkards || National University of Singapore || Orbital - Gemini</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>